{% extends 'base.html' %} {% block contenido %} {% load static %}
<style>
  body{
    background-color: green;
  }
  .form-register {
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: #f3f3f3;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
  }

  .form-register h4 {
    margin: 10px 0;
    color: #000;
    text-align: center;
  }

  .form-register input {
    width: 100%;
    margin-bottom: 10px;
  }

  .form-register input[type='submit'] {
    width: 50%;
    margin: 20px auto;
    display: block;
  }

  .form-register p {
    text-align: center;
    margin-top: 20px;
  }

  .form-register a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
  }

  .form-register a:hover {
    color: #000;
    text-decoration: underline;
  }

  .Boton-inicioSesion {
    color: #000;
    text-decoration: none;
    font-weight: 600;
  }

  .Boton-inicioSesion:hover {
    color: #000;
    text-decoration: underline;
  }
</style>
<form class="form-register" style=" display: grid; justify-content: center;">
  <h4 class="text-recovery" >Recuperar Contraseña</h4>
  <input
    class="controls"
    type="text"
    name="Correo"
    id="Correo"
    placeholder="Correo Electronico"
  />
  <input type="submit" value="Enviar" class="btn btn-dark" />
  <p>
    Ya Tienes Cuenta?
    <a class="Boton-inicioSesion" href="{% url 'login' %}">Inicia Sesion</a>
  </p>
</form>

{% endblock %}
