{%extends 'base.html'%}

{%block contenido%}
{%load static%}

<div class="titulo">Galeria de imagenes </div>
	<div class="galeria">
        <div class="imagen">
            <img src="{%static 'img/kit4.jpg'%}" alt="Imagen 1">
            <div class="descripcion"><hr>
            </div>
        </div>
        <div class="imagen">
            <img src="{%static 'img/CamaraBasica.jpg'%}" alt="Imagen 2">
            <div class="descripcion"><hr>
            </div>
        </div>
		<div class="imagen">
            <img src="{%static 'img/CamaraMedio.jpg'%}" alt="Imagen 3">
            <div class="descripcion"> <hr>
            </div>
        </div>
		<div class="imagen">
            <img src="{%static 'img/camarasPremium.jpg'%}" alt="Imagen 4">
            <div class="descripcion"> <hr>
            </div>
        </div>


    </div>
    
{%endblock%}