{%extends 'base.html'%}

{%block contenido%}
  <div class="container">
    <h2>Crear Camara</h2>
    <a href ="" class="btn btn-dark">Volver</a>
    
    <form method="post" id="formulario_crear" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <label for="{{ camaraform.field.name }}">
          {{ camaraform.nombreCamara.label }}
        </label>
        {{ camaraform.nombreCamara }}
      </div>
      <div class="row">
        <label for="{{ camaraform.field.name }}">
          {{ camaraform.precio.label }}
        </label>
        {{ camaraform.precio }}
      </div>
      <div class="row">
        <label for="{{ camaraform.field.name }}">
          {{ camaraform.marca.label }}
        </label>
        {{ camaraform.marca }}
      </div>
      <div class="row">
        <label for="{{ camaraform.field.name }}">
          {{ camaraform.categoria.label }}
        </label>
        {{ camaraform.categoria }}
      </div>
      <div class="row">
        <label for="{{ camaraform.field.name }}">
          {{ camaraform.descripcion.label }}
        </label>
        {{ camaraform.descripcion }}
      </div>
      <div class="row">
        <label for="{{ camaraform.field.name }}">
          {{ camaraform.imagen.label }}
        </label>
        {{ camaraform.imagen }}
      </div>
      <input type="submit" value="Crear" class="btn btn-primary">
      <a href="{%url 'inicio'%}" class="btn btn-success">Volver</a>

    </form>
  </div>

{%endblock%}