{%extends 'base.html'%}

{%block contenido%}

    <div class="container">
        <h2>Editar camara {{camara.idCamara}} {{camara.nombreCamara}}</h2>
        <form method="post" id="formulario2">
            {%csrf_token%}

            <div class="row">
                <label for="camaraform.field.name">
                    {{camaraform.nombreCamara.label}}
                </label>
                {{camaraform.nombreCamara}}
            </div>
            <div class="row">
                <label for="{{ camaraform.field.name }}">
                  {{ camaraform.precio.label }}
                </label>
                {{ camaraform.precio }}
              </div>
              <div class="row">
                <label for="{{ camaraform.field.name }}">
                  {{ camaraform.marca.label }}
                </label>
                {{ camaraform.marca }}
              </div>
              <div class="row">
                <label for="{{ camaraform.field.name }}">
                  {{ camaraform.categoria.label }}
                </label>
                {{ camaraform.categoria }}
              </div>
              <div class="row">
                <label for="{{ camaraform.field.name }}">
                  {{ camaraform.descripcion.label }}
                </label>
                {{ camaraform.descripcion }}
              </div>
              <div class="row">
                <label for="{{ camaraform.field.name }}">
                  {{ camaraform.imagen.label }}
                </label>
                {{ camaraform.imagen }}
              </div>

            <input type="submit" value="Editar" class="btn btn-primary">
            <a href="{%url 'listado_camaras'%}" class="btn btn-success">Volver</a>
        </form>
    </div>
    

{%endblock%}